html,body {
	width: 100%;
	height: 100%;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.blox {
	min-height: 20px;
	min-width: 20px;
	display: inline-block;
}

.row {
	width: 100%;
}

.not-full {
	width: 33%;
}

.full {
	width: 100% !important;
}

.one {
	background-color: red;
}

.two {
	background-color: blue;
}

.three {
	background-color: green;
}

